
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f7f7f7;
    color: #333;
    line-height: 1.6;
    padding: 20px;
}

header {
    text-align: center;
    margin-bottom: 40px;
    border-bottom: 1px solid #ccc;
    padding-bottom: 10px;
}

header h1 {
    font-size: 2em;
    color: #2c2c2c;
    letter-spacing: 1px;
}

main {
    max-width: 800px;
    margin: 0 auto;
    background-color: #fff;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
}

section {
    margin-bottom: 25px;
}

section h2 {
    font-size: 1.3em;
    color: #444;
    margin-bottom: 10px;
    border-left: 3px solid #888;
    padding-left: 8px;
}

p {
    margin-bottom: 10px;
    
}

a {
    color: #bd20bd;
    text-decoration: none;
    font-weight: 500;
    transition: color 0.3s ease;
}

a:hover {
    color: #bd20bd;
    text-decoration: underline;
}

footer {
    text-align: center;
    margin-top: 40px;
    font-size: 0.9em;
    color: #777;
}

/* Styles for butonul alta viata lab 7 */

#altaViataBtn {
    display: block;
    margin: 0 auto 20px auto;
    padding: 10px 20px;
    font-size: 1em;
    font-weight: bold;
    color: #fff;
    background-color: #bd20bd;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#altaViataBtn:hover {
    background-color: #a01aa0;
}



/* Stiluri pentru js script lab 7 */
body.alta-viata {
    background-color: #262c49;
}

body.alta-viata main {
    background-color: #363e66;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

body.alta-viata header h1,
body.alta-viata section h2 {
    color: #ffffff;
}

body.alta-viata section h2 {
    border-left-color: #cecece;
}

body.alta-viata header {
    border-bottom-color: #cecece;
}

body.alta-viata a {
    color: #55d6c2;
    font-weight: bold;
}

body.alta-viata a:hover {
    color: #8af0de;
}

body.alta-viata footer {
    color: #aaa;
}